$column: 12;
$site-width: 1200px;
$gutter: 10px;
$mobile-up: "only screen and (min-width: 540px)";
$tablet-up: 'only screen and (min-width: 768px)';

@mixin clear() {
    &:after,
    &:before {
        content: "";
        display: block;
        clear: both;
    }
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    border: '1px solid red';
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: $site-width;

    .row {
        // margin: $gutter 0;
        @include clear();

        [class*="col-"] {
            float: left;
            min-height: 1px;
            width: 100%;
        }
        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$mobile-up} {
                    width: (100%/$column) * $i;
                }
            }
        }
    }
}
$largeScreen: "only screen and (min-width: 600px)";

body {
    background-color: rgb(39, 41, 46);
    color: rgb(231, 232, 219);
    font-family: 'Abel', sans-serif;

     @media #{ $mobile-up} {
         background-image: url("../images/theatre.jpg");
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-size: cover;
     }
}

.fa-search:hover {
    color: rgb(231, 232, 219);
}
.posterPic {
    width: 100%;
    padding-top: 65px;
    @media #{ $mobile-up} {
        width: 32%;
    }
}

.searchBox {
    color: rgb(231, 232, 219);
    background: none;
    border-bottom: solid 1px white;
    border: none;
}

.header {
    margin: 0 auto;
    max-height: 60px;
    line-height: 60px;
    border-bottom: 2px solid  rgb(1, 210, 119);
    background-color: rgb(39, 41, 46);
    position: fixed;
    width: 100%;
}
.navigation {
    max-width: 1200px;
    width: 100%;


}

input[type=text] {
    width: 120px;
    height: 2em;
    transition: ease-in-out, width .50s ease-in-out;
}

input[type=text]:focus {
    width: 180px;
    outline: none;
    @media #{ $tablet-up} {
        width: 400px;
    }
}

form {
    float: right;
    margin: 0 6% 0 0;
    color: rgb(1, 210, 119);
    @media #{ $mobile-up} {
        margin-left: 6%;
    }
}

input {
    width: 90%;
}

.logo {
    width: 100%;
    max-width: 100px;
    margin: 10px 0 0 3%;
    @media #{ $mobile-up} {
        margin-left: 6%;
    }
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid rgb(1, 210, 119);
    font-family: 'Open Sans Condensed', sans-serif;
        .github, .fa-github {
            text-decoration: none;
            color: #007e47;
        }
        .github:hover {
            color: rgb(1, 210, 119);
        }
}



.showInfo {
    width: 100%;
    height: 170px;
    overflow: scroll;
    overflow-x:hidden;
    padding: 8px;

    h1{
        font-size: 1.1em;
        line-height: 1.5em;

    }
}
