$column: 12;
$site-width: 1200px;
$gutter: 10px;
$mobile-up: "only screen and (min-width: 540px)";
$tablet-up: 'only screen and (min-width: 768px)';

@mixin clear() {
    &:after,
    &:before {
        content: "";
        display: block;
        clear: both;
    }
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    border: '1px solid red';
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: $site-width;

    .row {
        @include clear();

        [class*="col-"] {
            min-height: 1px;
            width: 100%;
            @media #{$mobile-up} {
                padding-left: 50px;
            }
        }
        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$mobile-up} {
                    width: (100%/$column) * $i;
                }
            }
        }
    }
}
$largeScreen: "only screen and (min-width: 600px)";

body {
    background-color: rgb(39, 41, 46);
    color: rgb(231, 232, 219);
    font-family: 'Abel', sans-serif;
    overflow: scroll;
    overflow-x: hidden;

     @media #{ $mobile-up} {
         background-image: url("../images/theatre.jpg");
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-size: cover;
     }
}

.fa-search:hover {
    @media #{ $mobile-up} {
        color: rgb(231, 232, 219);
    }

}

.searchBox {
    color: rgb(231, 232, 219);
    background: none;
    border-bottom: solid 1px white;
    border: none;
}

::-webkit-scrollbar
{
  width: 0;  /* for vertical scrollbars */
  height: 0; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.0);
}

.header {
    margin: 0 auto;
    max-height: 60px;
    line-height: 60px;
    border-bottom: 2px solid  rgb(1, 210, 119);
    background-color: rgb(39, 41, 46);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navigation {
    max-width: 1200px;
    width: 100%;
}

input[type=text] {
    width: 120px;
    height: 2em;
    transition: ease-in-out, width .50s ease-in-out;
}

input[type=text]:focus {
    width: 180px;
    outline: none;
    @media #{ $tablet-up} {
        width: 400px;
    }
}

form {
    float: right;
    margin: 0 6% 0 0;
    color: rgb(1, 210, 119);
    @media #{ $mobile-up} {
        margin-left: 6%;
    }
}

input {
    width: 90%;
}

.logo {
    width: 100%;
    max-width: 100px;
    margin: 10px 0 0 3%;
    @media #{ $mobile-up} {
        margin-left: 6%;
    }
}

.footer {
    width: 100%;
    height: 50px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid rgb(1, 210, 119);
    font-family: 'Open Sans Condensed', sans-serif;
        .github, .fa-github {
            text-decoration: none;
            color: #007e47;
        }
        .github:hover {
            color: rgb(231, 232, 219);
        }
}


//
// .showWrapper {
//     display: inline;
// }
// .showWrapper {
//     position: relative;
// }
// .showInfo {
//     width: 100%;
//     height: 170px;
//     overflow: scroll;
//     overflow-x:hidden;
//     padding: 8px;
//     h1{
//         font-size: 1.1em;
//         line-height: 1.5em;
//
//     }
// }
//
// .posterPic {
//     width: 100%;
//     @media #{ $mobile-up} {
//         width: 32%;
//     }
//     padding: 65px 5px 0 5px;
// }

.showWrapper {
  position: relative;
  display: inline;
  width: 100%;

  @media #{ $mobile-up} {
      width: 32%;
  }
}

.posterPic {

  width: 100%;
  height: auto;
  @media #{ $mobile-up} {
      width: 32%;
  }
  transition: .5s ease;
}
.container .row .col-12{
    padding-top: 68px;
}
.showInfo {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: black;
  overflow: scroll;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.7;
}

.showWrapper:hover .showInfo {
  height: 10em;
}

.showWrapper:hover .posterPic {
  opacity: 0.6;
}
